@charset "utf-8"

$blue: #2196F3
$green: #43A047
$orange: #FF5722
$purple: #9C27B0
$red: #F44336
$turquoise: #009688
$yellow: #FFEB3B

@import "../node_modules/bulma/bulma"

.nav-item img
  padding-left: 12px

@media screen and (min-width: 769px)
  .nav-right
    padding-right: 12px

.download-button
  height: 52px
  width: auto

.press
  img
    height: 50px
    margin-left: 15px
