.app-about-page
  height 100%
  padding 12px
  .win-button
    margin 6px
  .app-logo-container
    text-align center
    .app-logo
      height 150px
      background-color #43A047
  .app-info
    text-align center
    margin-bottom 24px
  .app-feedback
    text-align center
    margin-top 12px
