.app-allow-select-text
  user-select text
  -ms-user-select text

.win-button
  text-transform uppercase

.win-toggleswitch .win-toggleswitch-header
  margin 0

.app-icon::before
  content attr(data-icon) !important
