.app-big-text-page
  height 100%
  display flex
  flex-direction column
  .app-content
    flex 1
    padding 12px
    word-wrap break-word
    -ms-user-select text
    overflow auto
  .app-toolbar
    flex-basis 48px
    padding 0 12px
    background-color $color-2
    > .win-slider
      width 100%
