.app-ocr-page
  height 100%
  .app-flex
    display flex
    flex-direction column
    height 100%
    .app-zoom-container
      flex 1
      -ms-content-zooming zoom
      -ms-content-zoom-limit-min 10%
      -ms-content-zoom-limit-max 300%
      overflow auto
      position relative
      background-color #000
      .app-preview
        position relative
        top 0
        left 0
        z-index 1
      .app-bg-overlay
        background-color rgba(0,0,0,0.6)
        position absolute
        top 0
        left 0
        z-index 2
      .app-text-overlay
        position: absolute;
        top 0
        left 0
        color #fff
        float left
        z-index 3
        white-space nowrap
        .app-word
          position absolute
    .app-toolbar
      flex-basis 48px
