.app-settings-page
  padding 12px
  box-sizing border-box
  height 100%
  overflow-y auto
  .app-color-item
    box-sizing border-box
    height 36px
    width 36px
    border-radius 18px
    margin-right 8px
    display inline-block
  .active
     border 3px solid $color-reverse-1
