<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Modern Translator
      </p>
      <p class="subtitle">
        BREAK THROUGH ANY LANGUAGE BARRIER
      </p>
      <p>
        <a href="https://www.microsoft.com/store/apps/9wzdncrcsg9k?cid=landing">
          <img class="is-download" src="/images/microsoft-store.png" alt="Download from Microsoft Store">
        </a>
        <a href="https://itunes.apple.com/us/app/modern-translator/id1176624652">
          <img class="is-download" src="/images/mac-app-store.png" alt="Download from Mac App Store">
        </a>
      <p>
      <figure class="image is-screenshot">
        <img src="/images/screenshot_1.png" alt="Modern Translator on macOS">
      </figure>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <h1>Features</h1>
      <nav class="columns is-multiline">
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-globe"></i>
              </span>
              <p class="title is-4"><strong>150+</strong> languages & dialects</p>
              <p class="subtitle is-6">
                Translate between <a href="/languages">over 150 languages and dialects</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-windows"></i>
              </span>
              <span class="title is-1">
                10 +
              </span>
              <span class="icon is-large">
                <i class="fa fa-apple"></i>
              </span>
              <p class="title is-4">Universal</p>
              <p class="subtitle is-6">Run on mobiles, Mac, PCs and even Hololens.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-headphones"></i>
              </span>
              <p class="title is-4">Text-to-speech</p>
              <p class="subtitle is-6">Listen to your translations using text-to-speech.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-microphone"></i>
              </span>
              <p class="title is-4">Speech recognition</p>
              <p class="subtitle is-6">Use your voice instead of typing.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-camera"></i>
              </span>
              <p class="title is-4">Camera translation</p>
              <p class="subtitle is-6">Translate pictures into <a href="/languages">nearly 20 languages</a> instantly.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-pencil"></i>
              </span>
              <p class="title is-4">Handwriting</p>
              <p class="subtitle is-6">
                Don't know how to type a word? Draw it!
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-book"></i>
              </span>
              <p class="title is-4">Dictionary</p>
              <p class="subtitle is-6">
                Including meanings, synonyms, examples and more.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-star"></i>
              </span>
              <p class="title is-4">Phrasebook</p>
              <p class="subtitle is-6">Save your favorite translations.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-paint-brush"></i>
              </span>
              <p class="title is-4">Personalization</p>
              <p class="subtitle is-6">With beautiful themes and colors.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-columns"></i>
              </span>
              <p class="title is-4">Snap View</p>
              <p class="subtitle is-6">Run side by side with other apps.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-clipboard"></i>
              </span>
              <p class="title is-4">Clipboard</p>
              <p class="subtitle is-6">Easily copy and share translations.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-exchange"></i>
              </span>
              <p class="title is-4">Transliteration</p>
              <p class="subtitle is-6">Read non-latin characters.</p>
            </div>
          </div>
        </div>
      </nav>
      <hr/>
      <div class="press has-text-centered">
        <a href="http://wmpoweruser.com/get-started-with-these-universal-apps-for-your-lumia-950-and-950-xl/" target="_blank">
          <img src="/images/wmpu.png" alt="WMPowerUser" />
        </a>
        <a href="http://mobile.softpedia.com/windows-phone/Modern-Translate-Windows-Phone-Review-2952.html" target="_blank">
          <img src="/images/softpedia.png" alt="Softpedia"/>
        </a>
        <a href="http://lovablelumia.com/2015/11/editors-pick-modern-translator-excellent-translation-app-windows-platform/" target="_blank">
          <img src="/images/loveablelumia.png" alt="Loveable Lumia"/>
        </a>
        <a href="https://tinhte.vn/threads/moi-chien-cac-ung-dung-universal-mien-phi-danh-cho-windows-10-mobile-va-pc-phan-2.2533762/" target="_blank">
          <img src="/images/tinhte.png" alt="Tinh Tế"/>
        </a>
        <a href="http://wp-seven.ru/stat-i/novosti/modern-translate-poluchilo-krupnoe-obnovlenie-na-windows-10.html" target="_blank">
          <img src="/images/wpsevenru.png" alt="WP-Seven.ru" />
        </a>
      </div>
    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-screenshot">
        <img src="/images/screenshot_2.png" alt="Modern Translator on macOS">
      </figure>
      <p>
        <a href="https://www.microsoft.com/store/apps/9wzdncrcsg9k?cid=landing">
          <img class="is-download" src="/images/microsoft-store.png" alt="Download from Microsoft Store">
        </a>
        <a href="https://itunes.apple.com/us/app/modern-translator/id1176624652">
          <img class="is-download" src="/images/mac-app-store.png" alt="Download from Mac App Store">
        </a>
      <p>
    </div>
  </div>
</section>
