<h1 class="title">Features</h1>
<nav class="columns">
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-globe"></i>
    </span>
    <p class="title is-4"><strong>150+</strong> languages & dialects</p>
    <p class="subtitle is-6">
      Translate between <a href="/languages.html">over 150 languages and dialects</a>.
    </p>
  </div>
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-headphones"></i>
    </span>
    <p class="title is-4">Text-to-speech</p>
    <p class="subtitle is-6">Listen to your translations using text-to-speech.</p>
  </div>
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-microphone"></i>
    </span>
    <p class="title is-4">Speech recognition</p>
    <p class="subtitle is-6">Use your voice instead of typing. Also, good for practicing your pronunciation.</p>
  </div>
</nav>
<nav class="columns">
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-camera"></i>
    </span>
    <p class="title is-4">Camera translation</p>
    <p class="subtitle is-6">Use your camera to translate text into <a href="/languages.html">nearly 20 languages</a> instantly.</p>
  </div>
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-pencil"></i>
    </span>
    <p class="title is-4">Handwriting</p>
    <p class="subtitle is-6">
      Don't know how to type a word? Draw it!
    </p>
  </div>
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-book"></i>
    </span>
    <p class="title is-4">Dictionary</p>
    <p class="subtitle is-6">
      Including meanings, synonyms, examples and more.
    </p>
  </div>
</nav>
<nav class="columns">
  <div class="column">
    <span class="icon is-large">
      <i class="fa fa-paint-brush"></i>
    </span>
    <p class="title is-4">Personalization</p>
    <p class="subtitle is-6">Personalize your experience with beautiful themes and colors.</p>
  </div>
</nav>
<hr/>
<div class="press has-text-centered">
  <a href="http://wmpoweruser.com/get-started-with-these-universal-apps-for-your-lumia-950-and-950-xl/" target="_blank" alt="WMPowerUser">
    <img src="/images/wmpu.png"/>
  </a>
  <a href="http://mobile.softpedia.com/windows-phone/Modern-Translate-Windows-Phone-Review-2952.html" target="_blank" alt="Softpedia">
    <img src="/images/softpedia.png"/>
  </a>
  <a href="http://lovablelumia.com/2015/11/editors-pick-modern-translator-excellent-translation-app-windows-platform/" target="_blank" alt="Loveable Lumia">
    <img src="/images/loveablelumia.png"/>
  </a>
  <a href="https://tinhte.vn/threads/moi-chien-cac-ung-dung-universal-mien-phi-danh-cho-windows-10-mobile-va-pc-phan-2.2533762/" target="_blank" alt="Tinh Tế">
    <img src="/images/tinhte.png"/>
  </a>
  <a href="http://wp-seven.ru/stat-i/novosti/modern-translate-poluchilo-krupnoe-obnovlenie-na-windows-10.html" target="_blank" alt="WP-Seven.ru">
    <img src="/images/wpsevenru.png"/>
  </a>
</div>
