<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="55974nhutquang97.5translate" Version="2017.72.1825.0" Publisher="CN=C635F506-DEEB-41A4-8CAA-16689F486ED2" />
  <mp:PhoneIdentity PhoneProductId="4cc6ac49-5fbd-4618-8742-9bd3255091b0" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Modern Translator</DisplayName>
    <PublisherDisplayName>Quang Lam</PublisherDisplayName>
    <Logo>build-resources\windows-images\Store.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
    <Resource Language="vi-vn" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="build\index.html">
      <uap:VisualElements DisplayName="Modern Translator" Description="Modern Translator" BackgroundColor="transparent" Square150x150Logo="build-resources\windows-images\Square150x150.png" Square44x44Logo="build-resources\windows-images\Square44x44.png">
        <uap:DefaultTile Wide310x150Logo="build-resources\windows-images\Wide310x150.png" ShortName="Translator" Square310x310Logo="build-resources\windows-images\Square310x310.png" Square71x71Logo="build-resources\windows-images\Square71x71.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="build-resources\windows-images\Splash620x300.png" BackgroundColor="#43A047" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Translate text with Modern Translator">
            <uap:DataFormat>Text</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="modern-translator">
            <uap:DisplayName>Modern Translator</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>
