@charset "utf-8"

$blue: #1976D2
$green: #43A047
$orange: #E64A19
$purple: #7B1FA2
$red: #D32F2F
$turquoise: #00796B
$yellow: #FBC02D

$primary: $green

$family-primary: -apple-system, BlinkMacSystemFont, 'SF Pro Text', Helvetica, Arial, sans-serif

$navbar-background: $green
$navbar-item: #fff
$navbar-item-hover-background: #2E7D32

@import "../../node_modules/bulma/bulma"

html
  background-color: #388E3C

body
  background-color: #fff

.navbar-item img
  max-height: 2.2rem

.title
  font-weight: 400

.subtitle
  font-weight: 300

.footer
  ul.footer-items
    list-style-type: none
    margin-left: 0
    +tablet
      display: flex
      justify-content: center
    li
      +tablet
        float: left
        padding: 0
        margin: 0
        &:not(:last-child)
          margin-right: 36px

.intro
  .hero-body
    display: flex
    align-items: stretch
    .container
      width: 100%
      .title
        margin-top: 1em
      .subtitle
        margin-bottom: 2em
      .download-btn
        img
          height: 50px
          width: auto
      .is-screenshot
        user-select: none
        img
          max-width: 600px
          margin: 0 auto
          padding-top: 20px

.is-vertical-centered
  display: flex
  flex-direction: column
  justify-content: center
