/* roboto-regular - latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./roboto-v15-latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('./roboto-v15-latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./roboto-v15-latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./roboto-v15-latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('./roboto-v15-latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./roboto-v15-latin_cyrillic-ext_vietnamese_cyrillic_greek_latin-ext_greek-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
