<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Translatium Support
      </h1>
    </div>
  </div>
</section>

<section class="section main">
  <div class="container">
    <div class="content">
      <div class="has-text-centered">
        <div class="notification">
          <h4>Translatium is no longer under active development.</h4>
          <p>I'm committed to making sure that Translatium continues to run well. But I don't have plans to invest in new features or feature requests.</p>
        </div>

        <h4>If you need any help or have any feedback, feel free to contact me.</h4>
        <h3>
          <a href="mailto:quang.lam2807+translatium@gmail.com">
            quang.lam2807+translatium@gmail.com
          </a>
        </h3>
      </div>
      <hr/>
      <%- partial("_faq") %>
    </div>
  </div>
</section>
