<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Translatium Privacy Policy
      </h1>
    </div>
  </div>
</section>

<section class="section main">
  <div class="container">
    <div class="content">
      <%- partial("_privacy") %>
    </div>
  </div>
</section>
