RTL()
  &:lang(ar),
  &:lang(dv),
  &:lang(fa),
  &:lang(he),
  &:lang(ku-Arab),
  &:lang(pa-Arab),
  &:lang(prs),
  &:lang(ps),
  &:lang(sd-Arab),
  &:lang(syr),
  &:lang(ug),
  &:lang(ur),
  &:lang(qps-plocm),
  &:lang(am),
  &:lang(sd),
  &:lang(ps)
    {block}
