<section class="hero is-success intro">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-3">
        Translate Like a Pro
      </h1>
      <p class="subtitle is-5" style="margin-top: -1em">
        Type, Speak, Listen, Write in 150 Languages & Dialects.
      </p>

      <p>
        <a href="https://www.microsoft.com/store/apps/9wzdncrcsg9k?cid=landing" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/microsoft-store.png" alt="Microsoft Store" />
        </a>
        <a href="https://itunes.apple.com/us/app/translatium/id1176624652" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/mac-app-store.png" alt="Mac App Store" />
        </a>
      </p>

      <p style="margin-top: 12px">
         <a href="https://github.com/translatium/translatium/blob/master/RELEASE_NOTES.md" target="_blank" rel="noopener noreferrer">What's New</a>
         | <a href="https://github.com/translatium/translatium" target="_blank" rel="noopener noreferrer">Source Code</a>
      </p>

      <img src="/images/screenshot_1.png" alt="Translatium on macOS" class="screenshot" />
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <p class="title is-3">
        Features
      </p>
      <nav class="columns is-multiline">
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-language"></i>
              </span>
              <p class="title is-4"><strong>150+</strong> languages & dialects</p>
              <p class="subtitle is-6">
                Translate between <a href="/languages">150 languages and dialects</a>.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-globe"></i>
              </span>
              <p class="title is-4">Auto Detect Language</p>
              <p class="subtitle is-6">
                Identify languages automatically.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-windows"></i>
              </span>
              <span class="icon is-large">
                <i class="fa fa-2x fa-apple"></i>
              </span>
              <p class="title is-4">Universal</p>
              <p class="subtitle is-6">Run on mobiles, Mac, PCs and even Hololens.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-headphones"></i>
              </span>
              <p class="title is-4">Text-To-Speech</p>
              <p class="subtitle is-6">Listen to your translations using text-to-speech.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-microphone"></i>
              </span>
              <p class="title is-4">Speech Recognition</p>
              <p class="subtitle is-6">Use your voice instead of typing.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-camera"></i>
              </span>
              <p class="title is-4">Camera Translation</p>
              <p class="subtitle is-6">Translate pictures into <a href="/languages">nearly 20 languages</a>.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-pencil"></i>
              </span>
              <p class="title is-4">Handwriting</p>
              <p class="subtitle is-6">
                Don't know how to type a word? Draw it!
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-book"></i>
              </span>
              <p class="title is-4">Dictionary</p>
              <p class="subtitle is-6">
                Including meanings, synonyms, examples and more.
              </p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-history"></i>
              </span>
              <p class="title is-4">History</p>
              <p class="subtitle is-6">Quick access to previous translations.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-star"></i>
              </span>
              <p class="title is-4">Phrasebook</p>
              <p class="subtitle is-6">Save your favorite translations.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-expand"></i>
              </span>
              <p class="title is-4">Fullscreen</p>
              <p class="subtitle is-6">View and show translations in fullscreen.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-paint-brush"></i>
              </span>
              <p class="title is-4">Personalization</p>
              <p class="subtitle is-6">With beautiful themes and colors.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-columns"></i>
              </span>
              <p class="title is-4">
                Snap View
              </p>
              <p class="subtitle is-6">Run side by side with other apps.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-bars"></i>
              </span>
              <p class="title is-4">Stay in Menu Bar</p>
              <p class="subtitle is-6">Access quickly from anywhere.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-clipboard"></i>
              </span>
              <p class="title is-4">Clipboard</p>
              <p class="subtitle is-6">Easily copy and share translations.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-half-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-exchange"></i>
              </span>
              <p class="title is-4">Transliteration</p>
              <p class="subtitle is-6">Read non-latin characters.</p>
            </div>
          </div>
        </div>
        <div class="column is-half-tablet is-half-desktop">
          <div class="message">
            <div class="message-body has-text-centered">
              <span class="icon is-large">
                <i class="fa fa-2x fa-github"></i>
              </span>
              <p class="title is-4">Open Source</p>
              <p class="subtitle is-6">Free, non-commercial, ad-free, and <a href="https://github.com/translatium" target="_blank" rel="noopener noreferrer" alt="GitHub">open source</a>.</p>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <img src="/images/screenshot_2.png" alt="Translatium on macOS" class="screenshot" />

      <p class="title is-3">
        Give Translatium a try today!
      </p>

      <p>
        <a href="https://www.microsoft.com/store/apps/9wzdncrcsg9k?cid=landing" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/microsoft-store.png" alt="Microsoft Store" />
        </a>
        <a href="https://itunes.apple.com/us/app/translatium/id1176624652" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/mac-app-store.png" alt="Mac App Store" />
        </a>
      </p>
    </div>
  </div>
</section>
