<section class="hero is-success intro">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Modern Translator</h1>
      <p class="subtitle">Translate Any Languages. On Any Devices.</p>

      <p>
        <a href="https://www.microsoft.com/store/apps/9wzdncrcsg9k?cid=landing" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/microsoft-store.png" alt="Microsoft Store" />
        </a>
      </p>

      <p>
        <a href="https://play.google.com/store/apps/details?id=com.moderntranslator.application" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/google-play.png" alt="Google Play" />
        </a>
      </p>

      <p>
        <a href="https://itunes.apple.com/us/app/modern-translator/id1257601501" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/app-store.png" alt="App Store" />
        </a>
      </p>

      <p>
        <a href="https://itunes.apple.com/us/app/modern-translator/id1176624652" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/mac-app-store.png" alt="Mac App Store" />
        </a>
      </p>

      <!--
      <p>
        <a href="" target="_blank" rel="noopener noreferrer" class="download-btn">
          <img src="/images/badges/amazon-underground.png" alt="Amazon App Store" />
        </a>
      </p>
      -->

      <figure class="image is-screenshot">
        <img src="/images/screenshot_1.png" alt="Modern Translator on macOS">
      </figure>
    </div>
  </div>
</section>
