<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Privacy Policy
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <%- partial("_privacy") %>
    </div>
  </div>
</section>
