<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <a href="/" class="hero-logo">
        <figure class="image is-64x64">
          <img src="/images/b.png" alt="Translatium: Translate Any Languages. On Any Devices.">
        </figure>
      </a>
      <p class="title">
        Privacy Policy
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <%- partial("_privacy") %>
    </div>
  </div>
</section>
