<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Support
      </h1>
    </div>
  </div>
</section>

<section class="section main">
  <div class="container">
    <div class="content">
      <div class="has-text-centered">
        <h4>If you need any help, feel free to contact us.</h4>
        <h3>
          <a href="mailto:me+translatium@quang.im">
            me+translatium@quang.im
          </a>
        </h3>
      </div>
      <hr/>
      <%- partial("_support") %>
    </div>
  </div>
</section>
