<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Help
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <div class="has-text-centered">
        <h3>If you need any help, feel free to contact us.</h3>
        <h2>
          <a href="mailto:support@moderntranslator.com">
            support@moderntranslator.com
          </a>
        </h2>
      </div>
      <hr/>
      <%- partial("_support") %>
    </div>
  </div>
</section>
