<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <a href="/" class="hero-logo">
        <figure class="image is-64x64">
          <img src="/images/b.png" alt="Translatium: Translate like a Pro">
        </figure>
      </a>
      <p class="title">
        Support
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <div class="has-text-centered">
        <h4>If you need any help, feel free to contact us.</h4>
        <h3>
          <a href="mailto:support@translatiumapp.com">
            support@translatiumapp.com
          </a>
        </h3>
      </div>
      <hr/>
      <%- partial("_support") %>
    </div>
  </div>
</section>
