<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="55974nhutquang97.5translate" Version="2016.530.1400.0" Publisher="CN=quanglam2807" />
  <mp:PhoneIdentity PhoneProductId="c0b63b78-00d7-4e11-bec5-ffecef0bdd2e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:app-name</DisplayName>
    <PublisherDisplayName>Modern Lab</PublisherDisplayName>
    <Logo>images\Store.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10240.0" MaxVersionTested="10.0.10240.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="www/index.html">
      <uap:VisualElements DisplayName="Modern Translator" Description="Modern Translator" BackgroundColor="transparent" Square150x150Logo="images\Square150x150.png" Square44x44Logo="images\Square44x44.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150.png" Square310x310Logo="images\Square310x310.png" Square71x71Logo="images\Square71x71.png" ShortName="ms-resource:short-app-name">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\Splash620x300.png" BackgroundColor="#43A047" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="modern-translator">
            <uap:DisplayName>ms-resource:app-name</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>URI</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>