@import "./bulma/sass/utilities/initial-variables"
@import "./bulma/sass/utilities/functions"

$blue: #43A047
$footer-background-color: #fff
$weight-semibold: 500
$family-sans-serif: system-ui,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif

@import "./bulma/bulma.sass"

html
  height: 100%
  font-size: 16px/1.5
  font-weight: 400

body
  min-height: 100%
  display: flex
  flex-direction: column

main
  flex: 1

.footer
  padding: 1.5em
  .container
    margin: 0 auto

.inline-block
  display: inline-block

.demo_main
  max-width: 500px
  width: 100%


.is-text-link
  &:hover
    text-decoration: underline !important

small.price-end
  font-size: 0.7em
  vertical-align: 0.3em

.download-btn img
  height: 50px

.logo-container a
  max-height: 1.75rem

.logo-sep
  padding: 0 12px

.footer-right
  display: flex
  flex-direction: column
  justify-content: flex-end
  a
    color: #000
    &:hover
      color: $blue