<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: blob: cdvfile: gap: https://ssl.gstatic.com https://*.google.com https://google.com google.cn *.google.cn https://api.ocr.space 'unsafe-inline' 'unsafe-eval'; media-src *;">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
		<title>{{htmlWebpackPlugin.options.title}}</title>
		<link href="roboto-v15/font.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body>
		<div id="app"></div>
		{{#if htmlWebpackPlugin.options.isMac}}
			<script>
				var { remote, webFrame, shell } = require('electron');
				webFrame.setZoomLevelLimits(1, 1);
				var fs = require('fs');
			</script>
		{{/if}}
		<script src="cordova.js"></script>
		{{#if htmlWebpackPlugin.options.isCordova}}
			<script src="canvas-to-blob.min.js"></script>
		{{/if}}
    <script src="bundle.js"></script>
	</body>
</html>
