<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Modern Translator</title>
		<link href="roboto-v15/font.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body>
		<div id="app"></div>
		{{#if htmlWebpackPlugin.options.isMac}}
			<script>
				var { remote, webFrame, shell } = require('electron'); var fs = require('fs'); webFrame.setZoomLevelLimits(1, 1);
			</script>
		{{/if}}
		{{#if htmlWebpackPlugin.options.isWindows}}
			<script src="//Microsoft.Advertising.JavaScript/ad.js"></script>
		{{/if}}
		<script type="text/javascript" src="vendor.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script>
	</body>
</html>
