* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.text-selectable {
  user-select: text;
  -webkit-user-select: text;
  -webkit-touch-callout: default;
  cursor: text;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body, #app {
  height: 100vh;
  width: 100vw;
}

* {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

a {
  cursor: pointer;
}

*:lang(ar),
*:lang(dv),
*:lang(fa),
*:lang(he),
*:lang(prs),
*:lang(ps),
*:lang(sd),
*:lang(syr),
*:lang(ug),
*:lang(ur),
*:lang(am),
*:lang(sd),
*:lang(ps) {
  direction: rtl;
}

[role=button], [role=link] {
  cursor: pointer;
}
