.app-choose-a-language-page
  height 100%
  overflow-y auto
  .app-item
    padding 8px 16px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  .app-group-item
    height 40px
    margin 12px
    text-align center
    line-height 40px
    color #ffffff
    padding 0 12px
    display inline-block
    text-transform uppercase
