.app-dictionary-page
  height 100%
  .win-pivot
    height 100% !important
.app-content.app-dictionary
  padding 12px 0
.app-section
  margin-top 24px
  &:first-child
    margin-top 0
  .app-section-title
    height 36px
    width 100%
    line-height 36px
    text-transform uppercase
    color #fff
    text-align center
  .app-sub-section
    margin-top 12px
    .app-link
      &:hover, &:focus
        text-decoration underline
    .app-sub-section-title
      padding 0 12px
      line-height 32px
      height 32px
      display inline-block
      margin-bottom 6px
      color #fff
    .app-item
      margin-bottom 6px
    ul.app-list
      padding 0 12px
      margin 0
