.app-history-page
  height 100%
  overflow-y auto
  padding 12px 6px
  box-sizing border-box
  .app-footer
    width 100%
    text-align center
    margin-bottom 16px
  .app-ring
    position relative
    margin-left calc(50% - 30px)
    margin-bottom 16px
  .app-empty-box
    display flex
    align-items center
    justify-content center
    height 100%
    flex-direction column
    .app-big-icon
      font-family "Segoe MDL2 Assets",Symbols
      font-size 96px
      margin-bottom 12px
  .app-item
    width 100%
    background-color $color-2
    padding-bottom 12px
    margin-bottom 12px
    .app-control-container
      display flex
      flex-direction row
      height 48px
      > .app-language-title
        flex 1
        line-height 48px
        padding 0 12px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
      > .app-toolbar-container
        flex-basis 72px
    .app-output-text, .app-input-text
      padding 0 12px 0 12px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
